body {
    position: relative;
    font-family: tajwal;
    height: 5000px;

    &::-webkit-scrollbar {
        background-color: rgba(#fff7cb, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(#7b331f, 0.75);

        &:hover {
            background-color: rgba(#7b331f, 1);
        }
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(#7b331f, 0.75) rgba(#fff7cb, 0.5);
}

.overflow {
    overflow: hidden !important;
}